{{ define "base.html" }}
{{ template "header" .}}
<section id="core-features" class="core-features universal-demo section style3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;"></span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Documentation</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Comes with all
                        essential features, elements and page you need.</p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-grid-alt"></i>
                        </div>
                        <h3>Instalation Guide</h3>
                        <p>Bold is multi-purpose template you can use for almost any kind of websites</p>
                    </div>
                </div>
                    <a href="/documentation/index.html" target="_blank" class="col-lg-4 col-md-6 col-12">
                        <div class="single-feature wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="icon">
                                <i class="lni lni-cog"></i>
                            </div>
                            <h3>Mitigasi Bencana</h3>
                            <p>Pada Mitigasi Bencana ini pengguna dapat melaporkan bencana yang sedang terjadi, mengecek data bencana serta pelapor.</p>
                        </div>
                    </a>
                </a>
                <a href="/documentation/index.html" target="_blank" class="col-lg-4 col-md-6 col-12">
                    <div class="single-feature wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-laptop-phone"></i>
                        </div>
                        <h3>Berita Bencana</h3>
                        <p>Dapatkan Informasi bencana terbaru melalui fitur berita bencana yang dapat diintegrasikan dengan aplikasi anda.</p>
                    </div>
                </a>
                <a href="/documentation/index.html" target="_blank" class="col-lg-4 col-md-6 col-12">
                    <div class="single-feature wow fadeInUp" data-wow-delay=".8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-layers"></i>
                        </div>
                        <h3>Laporkan Bencana</h3>
                        <p>Laporkan Bencana, pengguna dapat melaporkan bencana yang terjadi ditempatnya melalui fitur ini.</p>
                    </div>
                </a>
                <a href="/documentation/index.html" target="_blank" class="col-lg-4 col-md-6 col-12">
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-move"></i>
                        </div>
                        <h3>Contoh Penggunaan</h3>
                        <p>Jalankan API anda secara realtime melalui documentations.</p>
                    </div>
                </a>
                <a href="/login" target="_blank" class="col-lg-4 col-md-6 col-12">
                    <div class="single-feature wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-rocket"></i>
                        </div>
                        <h3>Generate Token</h3>
                        <p>Daftar untuk mendapatkan token yang dapat digunakan untuk mengintegrasikan aplikasi anda.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{{ template "footer" .}}
{{ end }}