{{ define "footer" }}
    <!-- Start Services Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">API Developer</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Sistem Informasi dan Mitigasi Bencana.</h2>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <h3><a href="#">Informasi Akurat</a></h3>
                            <div class="icon">
                                <i class="lni lni-microscope"></i>
                            </div>
                            <p>Informasi yang diberikan merupakan informasi akurat.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                            <h3><a href="#">Informasi Terbaru</a></h3>
                            <div class="icon">
                                <i class="lni lni-blackboard"></i>
                            </div>
                            <p>Informasi bencana selalu terbaru dan terpercaya.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <h3><a href="#">Lapor Bencana‎‎</a></h3>
                            <div class="icon">
                                <i class="lni lni-ux"></i>
                            </div>
                            <p>Pengguna dapat melakukan pelaporan bencana.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".8s">
                            <h3><a href="#">Riwayat Bencana</a></h3>
                            <div class="icon">
                                <i class="lni lni-graph"></i>
                            </div>
                            <p>Terdapat riwayat bencana yang pernah terjadi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Area -->
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="#"><img src="images/logo/footer-logo.png" alt="Logo"></a>
                            </div>
                            <p>Sistem Informasi dan Mitigasi Bencana API
                                merupakan API yang berisi data bencana yang pernah terjadi
                                dan sedang terjadi serta mitigasi dari bencana tersebut.</p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer sm-custom-border f-link">
                                    <h3>Bencana Alam</h3>
                                    <ul>
                                        <li><a href="#">Banjir</a></li>
                                        <li><a href="#">Tanah Longsor</a></li>
                                        <li><a href="#">Gempa Bumi</a></li>
                                        <li><a href="#">Angin Puting Beliung</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer sm-custom-border f-link">
                                    <h3>Integritas Informasi</h3>
                                    <ul>
                                        <li><a href="#">Informasi Akurat</a></li>
                                        <li><a href="#">Informasi Terbaru</a></li>
                                        <li><a href="#">Lapor Bencana</a></li>
                                        <li><a href="#">Riwayat Bencana</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer md-custom-border sm-custom-border f-link">
                                    <h3>Fitur pada API</h3>
                                    <ul>
                                        <li><a href="#">Lapor Bencana</a></li>
                                        <li><a href="#">Bencana yang terjadi</a></li>
                                        <li><a href="#">Riwayat Bencana</a></li>
                                        <li><a href="#">Informasi dan Mitigasi</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/count-up.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
{{ end }}