{{ define "base.html" }}
<!doctype html>
<html lang="en">

<head>
	<title>Daftar SIMIG - Sistem Informasi dan Mitigasi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="login/css/style.css">
</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<h3 class="text-center mb-4">Daftar</h3>
                        {{ if and .flash.type (kindIs "string" .flash.msg) }}
							{{ $dict := dict }}
							{{ if eq .flash.type "error" }}
						  		{{ $dict = dict "type" "danger" "flash" .flash }}
							{{ else if eq .flash.type "done" }}
						  		{{ $dict = dict "type" "success" "flash" .flash }}
							{{ end }}
							{{ template "alert" $dict }}
					  	{{ end }}
						<form action="/register" class="login-form" method="POST"
							enctype="application/x-www-form-urlencoded">
							<div class="form-group">
								<input id="nama" name="nama" type="text" class="form-control rounded-left"
									placeholder="Nama" required>
							</div>
                            {{ if kindIs "map" .flash.msg }}
                                {{ if .flash.msg.Nama }}<span class="text-danger">{{ range $key, $value := .flash.msg.Nama}} {{ $value }} {{ end }}</span>{{ end }}
                            {{ end }}
							<div class="form-group">
								<input id="username" name="username" type="text" class="form-control rounded-left"
									placeholder="Username" required>
							</div>
                            {{ if kindIs "map" .flash.msg }}
								{{ if .flash.msg.Username }}<span class="text-danger">{{ range $key, $value := .flash.msg.Username}} {{ $value }} {{ end }}</span>{{ end }}
						  	{{ end }}
							<div class="form-group">
								<input id="email" name="email" type="email" class="form-control rounded-left"
									placeholder="Email" required>
							</div>
                            {{ if kindIs "map" .flash.msg }}
                                {{ if .flash.msg.Email }}<span class="text-danger">{{ range $key, $value := .flash.msg.Email}} {{ $value }} {{ end }}</span>{{ end }}
                            {{ end }}
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<input id="password" name="password" type="password"
											class="form-control rounded-left" placeholder="Password" required>
									</div>
                                    {{ if kindIs "map" .flash.msg }}
                                        {{ if .flash.msg.Password }}<span class="text-danger">{{ range $key, $value := .flash.msg.Password}} {{ $value }} {{ end }}</span>{{ end }}
                                    {{ end }}
								</div>
								<div class="col-6">
									<div class="form-group d-flex">
										<input id="confirm_password" name="confirm_password" type="password"
											class="form-control rounded-left" placeholder="Konfirmasi Password" required>
									</div>
                                    {{ if kindIs "map" .flash.msg }}
                                        {{ if .flash.msg.confirm_password }}<span class="text-danger">{{ range $key, $value := .flash.msg.confirm_password}} {{ $value }} {{ end }}</span>{{ end }}
                                    {{ end }}
								</div>
							</div>
							<div class="form-group">
								<input type="submit" value="Daftar Sekarang"
									class="form-control btn btn-primary rounded submit px-3">
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="/login">Login</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

<script src="login/js/jquery.min.js"></script>
<script src="login/js/popper.js"></script>
<script src="login/js/bootstrap.min.js"></script>
<script src="login/js/main.js"></script>

</html>
{{ end }}